html {
  background-color: #000000;
  background-image: linear-gradient(to bottom, #020122, #0e091a);
  min-height: 100%;
}

body {
  background: none;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  text-align: center;
  color: #FFFFFF;
  font-size: 550%;
}

nav {
  display: flex;
  font-size: 100%;
  margin: 1% 2% 2% 2%;
  gap: 2%;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #5d75ff;
}

main {
  text-align: center;
  color: #FFFFFF;
  padding: 0px 10% 0px 10%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom: 5%;
}

nav{
  color:black;
}
